$black: #000000;
$grey: #d9d9d9;
$bg-grey: #15181c;
$blue: rgb(29, 161, 242);
$hover-blue: rgb(0, 132, 255);
$link-blue: #187ca9;
$border-color: rgb(47, 51, 54);
$icon-grey: rgb(110, 118, 125);
$text-grey: rgb(217, 217, 217);
* {
  margin: 0;
}
body {
  font-family: "inter", sans-serif;
  background-color: $black;
  color: $grey;
  // overflow: hidden;
  main {
    display: grid;
    grid-template-columns: 0.8fr 2fr 1fr;
    grid-template-areas: "menu wall trends";
    section {
      min-height: 100vh;
      border: 0px solid $border-color;
    }
    .menu {
      grid-area: menu;
    }
    .wall {
      grid-area: wall;
    }
    .trends {
      grid-area: trends;
    }
    .menu,
    .wall,
    .trends {
      border-right-width: 1px;
    }
  }
}
// remove
ul {
  list-style: none;
  padding: 0;
  li {
    margin: 0;
  }
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: 0;
}
// utilities
.d-flex-col {
  display: flex;
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.mx-auto {
  margin: 0 auto;
}
.tweet-icon {
  cursor: pointer;
  margin: 0.5rem 0rem 1.5rem 1.7rem;
  font-size: 2.5rem;
  &:hover {
    color: $hover-blue;
  }
}
.active {
  color: $blue !important;
}
.primary-btn {
  border-radius: 30px;
  padding: 1rem 6rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  background-color: $blue;
  &:hover {
    background-color: $hover-blue;
  }
}
.secondary-btn {
  border-radius: 30px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(218, 214, 214);
  background-color: $link-blue;
  &:hover {
    background-color: $hover-blue;
    color: #fff;
  }
}
.avatar {
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
// classes
.menu {
  nav {
    position: relative;
    display: flex;
    li {
      cursor: pointer;
      margin: 0 0 1rem;
      transition: hover 0.5s;
      &:hover {
        a {
          color: $blue;
        }
      }
      & > a {
        margin: 0 0 0 1rem;
        color: $text-grey;
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: capitalize;
        & > span {
          vertical-align: middle;
          font-size: 1.9rem;
          margin: 0 0.8rem 0 0;
        }
      }
    }
  }
  .account {
    position: absolute;
    bottom: 2%;
    left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      cursor: pointer;
      font-size: 1.5rem;
    }
    & > div {
      margin: 0 0.5rem;
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 1rem;
      }
      & a {
        font-size: 0.9rem;
        color: $icon-grey;
      }
    }
  }
}
.wall {
  background-color: $bg-grey;
  header {
    padding: 0.8rem 1rem;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    i {
      cursor: pointer;
      color: $blue;
      font-size: 1.5rem;
    }
  }
  .tweet-here {
    display: flex;
    background-color: #000000;
    padding: 0.5rem 0;
    border-bottom: 1px solid $border-color;
    .avatar {
      margin: 0 0.5rem;
    }
    .ini-tweet {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 0.5rem 0 0;
      input {
        padding: 1rem 0;
        letter-spacing: 0.4px;
        caret-color: $blue;
        border: 0;
        background-color: transparent;
        color: $text-grey;
        font-weight: 500;
        font-size: 1rem;
        font-family: "inter", sans-serif;
        &:focus {
          outline: none;
        }
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icons {
          i {
            cursor: pointer;
            color: $blue;
            margin: 0 1rem 0 0;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
.tweet-wall {
  min-height: 80vh;
  margin: 1rem 0 0;
  .tweet {
    border-bottom: 1px solid $border-color;
    background-color: #000;
    padding: 1rem;
    &>span{
      color: $icon-grey;
      font-weight: 550;
      margin: 0 0 0.8rem 2rem;
      font-size: .9rem;
      i{
        vertical-align: middle;
        font-size: 1.5rem;
        margin: 0 0.5rem 0 0;
      }
    }
    .tweet-structure {
      display: flex;
      justify-content: space-between;
      & > .tweet--content {
        margin: 0 0 0 0.5rem;
        .user-info {
          display: flex;
          justify-content: space-between;
          margin: 0 0 0.5rem;
          a {
            color: $grey;
            font-weight: 600;
            span {
              color: $icon-grey;
              font-weight: 400;
              margin: 0 0 0 0.2rem;
              sup {
                margin: 0 0.2rem;
              }
            }
            &:hover{
              color: $link-blue;
            }
          }
          i{
            color: $icon-grey;
            cursor: pointer;
            font-size: 1.5rem;
            &:hover{
              color: $link-blue;
            }
          }
        }
        p {
          margin: 0 0 1rem;
        }
        .icons {
          width: 80%;
          display: flex;
          justify-content: space-between;
          a {
            color: $icon-grey;
            &:hover{
              color: $link-blue;
            }
            i{
              font-size: 1.3rem;
              vertical-align: middle;
              margin: 0 0.5rem 0 0;
            }
            span{
              font-weight: 400;
              font-size: .9rem;
            }
          }
        }
      }
    }
  }
}
