* {
  margin: 0;
}

body {
  font-family: "inter", sans-serif;
  background-color: #000000;
  color: #d9d9d9;
  overflow: hidden;
}

body main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 2fr 1fr;
      grid-template-columns: 0.8fr 2fr 1fr;
      grid-template-areas: "menu wall trends";
}

body main section {
  min-height: 100vh;
  border: 0px solid #2f3336;
}

body main .menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
}

body main .wall {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: wall;
}

body main .trends {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: trends;
}

body main .menu,
body main .wall,
body main .trends {
  border-right-width: 1px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
}

.d-flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}

.tweet-icon {
  cursor: pointer;
  margin: 0.5rem 0rem 1.5rem 1.7rem;
  font-size: 2.5rem;
}

.tweet-icon:hover {
  color: #0084ff;
}

.active {
  color: #1da1f2 !important;
}

.primary-btn {
  border-radius: 30px;
  padding: 1rem 6rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  background-color: #1da1f2;
}

.primary-btn:hover {
  background-color: #0084ff;
}

.secondary-btn {
  border-radius: 30px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #dad6d6;
  background-color: #187ca9;
}

.secondary-btn:hover {
  background-color: #0084ff;
  color: #fff;
}

.avatar {
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.menu nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu nav li {
  cursor: pointer;
  margin: 0 0 1rem;
  -webkit-transition: hover 0.5s;
  transition: hover 0.5s;
}

.menu nav li:hover a {
  color: #1da1f2;
}

.menu nav li > a {
  margin: 0 0 0 1rem;
  color: #d9d9d9;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.menu nav li > a > span {
  vertical-align: middle;
  font-size: 1.9rem;
  margin: 0 0.8rem 0 0;
}

.menu .account {
  position: absolute;
  bottom: 2%;
  left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .account i {
  cursor: pointer;
  font-size: 1.5rem;
}

.menu .account > div {
  margin: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .account > div h3 {
  font-size: 1rem;
}

.menu .account > div a {
  font-size: 0.9rem;
  color: #6e767d;
}

.wall {
  height: 80vh;
  overflow-y: scroll;
  background-color: #15181c;
}

.wall header {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #2f3336;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000000;
}

.wall header i {
  cursor: pointer;
  color: #1da1f2;
  font-size: 1.5rem;
}

.wall .tweet-here {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  padding: 0.5rem 0;
  border-bottom: 1px solid #2f3336;
}

.wall .tweet-here .avatar {
  margin: 0 0.5rem;
}

.wall .tweet-here .ini-tweet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0.5rem 0 0;
}

.wall .tweet-here .ini-tweet input {
  padding: 1rem 0;
  letter-spacing: 0.4px;
  caret-color: #1da1f2;
  border: 0;
  background-color: transparent;
  color: #d9d9d9;
  font-weight: 500;
  font-size: 1rem;
  font-family: "inter", sans-serif;
}

.wall .tweet-here .ini-tweet input:focus {
  outline: none;
}

.wall .tweet-here .ini-tweet div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wall .tweet-here .ini-tweet div .icons i {
  cursor: pointer;
  color: #1da1f2;
  margin: 0 1rem 0 0;
  font-size: 1.5rem;
}

.tweet-wall {
  margin: 1rem 0 0;
}

.tweet-wall .tweet {
  border-bottom: 1px solid #2f3336;
  background-color: #000;
  padding: 1rem;
}

.tweet-wall .tweet > span {
  color: #6e767d;
  font-weight: 550;
  margin: 0 0 0.8rem 2rem;
  font-size: 0.9rem;
}

.tweet-wall .tweet > span i {
  vertical-align: middle;
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0;
}

.tweet-wall .tweet .tweet-structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tweet-wall .tweet .tweet-structure > .tweet--content {
  margin: 0 0 0 0.5rem;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0.5rem;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .user-info a {
  color: #d9d9d9;
  font-weight: 600;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .user-info a span {
  color: #6e767d;
  font-weight: 400;
  margin: 0 0 0 0.2rem;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .user-info a span sup {
  margin: 0 0.2rem;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .user-info a:hover {
  color: #187ca9;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .user-info i {
  color: #6e767d;
  cursor: pointer;
  font-size: 1.5rem;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .user-info i:hover {
  color: #187ca9;
}

.tweet-wall .tweet .tweet-structure > .tweet--content p {
  margin: 0 0 1rem;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .icons {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .icons a {
  color: #6e767d;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .icons a:hover {
  color: #187ca9;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .icons a i {
  font-size: 1.3rem;
  vertical-align: middle;
  margin: 0 0.5rem 0 0;
}

.tweet-wall .tweet .tweet-structure > .tweet--content .icons a span {
  font-weight: 400;
  font-size: 0.9rem;
}

.trends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trends .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trends .wrapper .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #15181c;
  padding: 0.4rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  margin: 0 0 1rem;
}

.trends .wrapper .input-group input {
  background-color: transparent;
  border: 0;
  padding: 0.5rem;
  color: #d9d9d9;
  letter-spacing: 0.3px;
  caret-color: #1da1f2;
}

.trends .wrapper .input-group input:focus {
  outline: 0;
}

.trends .wrapper .input-group i {
  font-size: 1.2rem;
  color: #6e767d;
  vertical-align: middle;
}

.trends .wrapper .trending {
  background-color: #15181c;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trends .wrapper .trending h3 {
  padding: 1rem;
}

.trends .wrapper .trending .trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #2f3336;
  padding: 1rem;
}

.trends .wrapper .trending .trend span {
  font-size: .8rem;
  color: #6e767d;
}

.trends .wrapper .trending .trend h4 {
  font-size: 1rem;
  margin: .2rem 0;
}

.trends .wrapper .trending .trend img {
  border-radius: 10px;
  height: 70px;
}

.trends .wrapper .trending .trend i {
  cursor: pointer;
  font-size: 1.3rem;
  color: #6e767d;
}
/*# sourceMappingURL=style.css.map */